alabaster==1.0.0
annotated-types==0.7.0
anyio==4.9.0
argcomplete==3.5.3
asgiref==3.8.1
attrs==24.1.0
autocommand==2.2.2
Babel==2.15.0
beautifulsoup4==4.13.3
breathe==4.36.0
btrfsutil==6.14
build==1.2.2
cbor2==5.6.5
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cinemagoer==2023.5.1
click==8.1.8
colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.2
crcmod==1.7
cryptography==44.0.3
cycler==0.12.1
Cython==3.1.0
dirty-equals==0.9.0
distlib==0.3.9
distro==1.9.0
distro-info==1.11
docopt==0.6.2
docutils==0.21.2
downloader_cli==0.3.4
editables==0.5
evdev==1.9.0
fastapi==0.115.12
fastjsonschema==2.21.1
filelock==3.18.0
fonttools==4.58.0
greenlet==3.2.1
h11==0.16.0
hatchling==1.27.0
hidapi==0.14.0
httptools==0.6.4
i3ipc==2.2.1
idna==3.10
imagesize==1.4.1
importlib_metadata==8.7.0
injector==0.22.0
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.5
keyutils==0.6
kiwisolver==1.4.6
libfdt==1.7.2
libvirt-python==11.3.0
liquidctl==1.15.0
lit==19.1.7.dev0
lxml==5.4.0
Mako==1.3.10.dev0
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.10.3
meson==1.8.0
moddb==0.12.0
more-itertools==10.7.0
nftables==0.1
numpy==2.2.5
nwg-displays==0.3.25
ordered-set==4.1.0
packaging==25.0
pathspec==0.12.1
peewee==3.18.1
pillow==11.2.1
pipx==1.7.1
platformdirs==4.3.6
pluggy==1.6.0
protonfixes==1.0.15
protontricks==1.12.1
protonup==0.1.5
psutil==7.0.0
py3nvml==0.2.7
pyamdgpuinfo==2.1.7
pycairo==1.28.0
pycparser==2.22
pydantic==2.11.4
pydantic-extra-types==2.10.4
pydantic-settings==2.9.1
pydantic_core==2.33.2
Pygments==2.19.1
PyGObject==3.52.3
PyOpenGL==3.1.7
pyparsing==3.2.2
pyproject_hooks==1.2.0
PySide6==6.9.0
python-dateutil==2.9.0
python-dotenv==1.1.0
python-xlib==0.33
pytz==2025.2
pyudev==0.24.3
pyusb==1.2.1
pyxdg==0.28
PyYAML==6.0.2
pyzstd==0.17.0
ranger-fm==1.9.4
reactivex==4.0.4
requests==2.32.3
roman-numerals-py==3.1.0
setproctitle==1.3.5
setuptools==80.3.1
setuptools-scm==8.3.1
shiboken6==6.9.0
shiboken6-generator==6.9.0
shtab==1.7.2.dev0+g61ec99d.d20241116
six==1.17.0
smbus==1.1
sniffio==1.3.1
snowballstemmer==2.2.0
solaar==1.1.14
soupsieve==2.6
speedtest-cli==2.1.3
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.40
starlette==0.46.2
TBB==0.2
termcolor==2.5.0
tldr==3.4.1
tomli==2.0.1
tqdm==4.67.1
trove-classifiers==2025.5.8.13
typing-inspection==0.4.0
typing_extensions==4.13.2
udiskie==2.5.7
ufw==0.36.2
umu-launcher==1.2.6
Unidecode==1.3.8
urllib3==2.4.0
userpath==1.9.2
uvicorn==0.34.0
uvloop==0.21.0
validate-pyproject==0.24.1
vdf==4.0
virtualenv==20.28.0
websockets==15.0.1
wheel==0.45.1
xxhash==3.5.0
yt-dlp==2025.4.30
zipp==3.21.0
